<section>
    <app-voltar></app-voltar>
    <div class="container">
        <div class="mesAno">
            <div class="msg">Data atualizada com sucesso!</div>
            <div class="titulo">Configuração de data</div>
            <select [(ngModel)]="mes" (change)="salvarData()">
                <option value="0" disabled selected>Escolha um mês</option>
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
            <input [(ngModel)]="ano" type="number" placeholder="Ano" (change)="salvarData()">
        </div>

        <button class="clone" (click)="clonar()">Clonar entradas anteriores</button>

        <table>
            <tr class="header">
                <td>
                    <div>Entradas ({{entradas.length}})</div>
                    <div class="end">
                        <img style="margin-right: 1rem;" src="../../assets/addwhite.png" alt="Adicionar"
                            title="Adicionar" (click)="adicionar()">
                    </div>
                </td>
            </tr>
            <tr class="row" *ngFor="let item of entradas">
                <td>
                    <div>{{item.nome}}</div>
                    <div>{{item.nome_tipo}}</div>
                    <div>R${{item.valor}}</div>
                    <div class="end">
                        <img style="margin-right: 1rem;" src="../../assets/edit.png" alt="Editar" title="Editar"
                            (click)="editar(item)">
                        <img src="../../assets/delete.png" alt="Deletar" title="Deletar"
                            (click)="confirmarDelete(item.id)">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>

<app-adicionar-entrada [dialogOpen]="dialogAdicionar" (dialogOpenChange)="dialogAdicionar=$event" />
<app-editar-entrada [dialogOpen]="dialogEditar" (dialogOpenChange)="dialogEditar=$event"
    [formulario]="formularioEditar" />

<div *ngIf="dialogDelete" class="containerMensagem">
    <div class="mensagemDelete">
        <h1 class="texto">Você deseja mesmo deletar esse registro?</h1>
        <div class="botoes">
            <button class="cancelar" (click)="resolveDelete(false)">Cancelar</button>
            <button class="confirmar" (click)="resolveDelete(true)">Sim</button>
        </div>
    </div>
</div>

<div *ngIf="dialogClonar" class="containerMensagem">
    <div class="mensagemDelete">
        <h1 class="texto">Você deseja mesmo clonar as entradas do mês anterior?</h1>
        <div class="botoes">
            <button class="cancelar" (click)="resolveClonar(false)">Cancelar</button>
            <button class="confirmar" (click)="resolveClonar(true)">Sim</button>
        </div>
    </div>
</div>