<div class="container" *ngIf="this.dialogOpen">
    <div [ngClass]="classesDialog">
        <h1>Novo Gasto</h1>
        <div class="campo">
            <legend>Data de Registro</legend>
            <input [(ngModel)]="formulario.data_registro" type="date">
        </div>
        <div class="campo" [ngStyle]="this.campoObrigatorio">
            <legend>Descrição</legend>
            <input [(ngModel)]="formulario.descricao" type="text">
        </div>
        <div class="campo checkParent">
            <div class="checkGroup">
                <div>
                    <input type="checkbox" [(ngModel)]="formulario.padrao" (change)="checkBoxMudou('padrao', $event)">
                    Padrão
                </div>
                <div>
                    <input type="checkbox" [(ngModel)]="formulario.parcela" (change)="checkBoxMudou('parcela', $event)">
                    Parcela
                </div>
                <div>
                    <input type="checkbox" [(ngModel)]="formulario.fixo" (change)="checkBoxMudou('fixo', $event)">
                    Fixo
                </div>
            </div>
        </div>
        <div *ngIf="formulario.padrao" class="campo">
            <legend>Data do Gasto</legend>
            <input [(ngModel)]="formulario.data" type="date">
        </div>
        <div *ngIf="formulario.parcela" class="campo">
            <legend>Parcela atual</legend>
            <input [(ngModel)]="formulario.parcela_atual" type="number">
        </div>
        <div *ngIf="formulario.parcela" class="campo">
            <legend>Parcelas totais</legend>
            <input [(ngModel)]="formulario.parcelas_totais" type="number">
        </div>
        <div class="campo" [ngStyle]="this.campoObrigatorio">
            <legend>Valor</legend>
            <input [(ngModel)]="formulario.valor" type="number">
        </div>
        <div class="campo" [ngStyle]="this.campoObrigatorio">
            <legend>Destino</legend>
            <select [(ngModel)]="formulario.destino">
                <option value="">N/A</option>
                <option value="1">Geral</option>
                <option value="2">Tiago</option>
                <option value="3">Luana</option>
                <option value="4">Conjunto</option>
            </select>
        </div>
        <div class="campo" [ngStyle]="this.campoObrigatorio">
            <legend>Tipo de gasto</legend>
            <select [(ngModel)]="formulario.tipo">
                <option value="1">Geral</option>
                <option value="2">Transporte</option>
                <option value="3">Alimentação</option>
            </select>
        </div>
        <div class="campo" [ngStyle]="this.campoObrigatorio">
            <legend>Banco</legend>
            <select [(ngModel)]="formulario.banco">
                <option *ngFor="let item of this.bancos" value="{{item.id}}">{{item.nome}}</option>
            </select>
        </div>

        <div class="botoes">
            <button class="cancelar" (click)="fecharDialog()">Fechar</button>
            <button class="cadastrar" (click)="registrarGasto()">Cadastrar</button>
        </div>

        <div *ngIf="classesDialog[1] === 'animarSucesso'" class="avisoSucesso">Gasto inserido com sucesso!</div>
        <div *ngIf="classesDialog[1] === 'animarErro' && !erroFormulario" class="avisoErro">Ocorreu um erro ao inserir o
            gasto!</div>
        <div *ngIf="erroFormulario" class="avisoErro">Preencha os campos obrigatórios para continuar</div>
    </div>
</div>