<div class="container" *ngIf="this.dialogOpen">
    <div [ngClass]="classesDialog">
        <h1>Novo Gasto</h1>
        <div class="campo">
            <legend>Data</legend>
            <input [(ngModel)]="formulario.data" type="date">
        </div>
        <div class="campo" [ngStyle]="this.campoObrigatorio">
            <legend>Descrição</legend>
            <input [(ngModel)]="formulario.descricao" type="text">
        </div>
        <div class="campo">
            <legend>Parcela atual</legend>
            <input [(ngModel)]="formulario.parcela_atual" type="number">
        </div>
        <div class="campo">
            <legend>Parcelas totais</legend>
            <input [(ngModel)]="formulario.parcelas_totais" type="number">
        </div>
        <div class="campo" [ngStyle]="this.campoObrigatorio">
            <legend>Valor</legend>
            <input [(ngModel)]="formulario.valor" type="number">
        </div>
        <div class="campo" [ngStyle]="this.campoObrigatorio">
            <legend>Tipo de gasto</legend>
            <select [(ngModel)]="formulario.tipo">
                <option value="0" selected disabled>Selecione um gasto</option>
                <option value="1">Geral</option>
                <option value="2">Transporte</option>
                <option value="3">Alimentação</option>
            </select>
        </div>
        <div class="campo" [ngStyle]="this.campoObrigatorio">
            <legend>Banco</legend>
            <select [(ngModel)]="formulario.banco">
                <option value="0" selected disabled>Selecione um banco</option>
                <option *ngFor="let item of this.bancos" value="{{item.id}}">{{item.nome}}</option>
            </select>
        </div>

        <div class="botoes">
            <button class="cancelar" (click)="fecharDialog()">Fechar</button>
            <button class="cadastrar" (click)="registrarGasto()">Cadastrar</button>
        </div>

        <div *ngIf="classesDialog[1] === 'animarSucesso'" class="avisoSucesso">Gasto inserido com sucesso!</div>
        <div *ngIf="classesDialog[1] === 'animarErro' && !erroFormulario" class="avisoErro">Ocorreu um erro ao inserir o
            gasto!</div>
        <div *ngIf="erroFormulario" class="avisoErro">Preencha os campos obrigatórios para continuar</div>
    </div>
</div>