section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

$containerWidth: 60vw;

.container {
    width: $containerWidth;
    height: 70vh;
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 0 2rem 0;
    border-radius: 15px;
    color: #D9D9D9;
    font-family: 'Lexend', sans-serif;
}

.titulo {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .iconeBanco {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        img {
            width: 3rem;
        }
    }
}

table {
    width: 80%;
    height: calc(3rem * 10);
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;
    border-radius: 15px 0 0 15px;
    overflow-y: scroll;
    margin: 1rem 0 1rem 0;

    tr {
        height: 10%;

        td {
            height: 100%;
            padding: 0 1rem 0 1rem;
            border-bottom: 1px solid #D9D9D9;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                width: 30%;
            }

            div:last-child {
                width: auto;
            }

            img {
                width: 1.25rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.animarEntrar-E-D {
    animation: moveFromLeft 400ms ease-in-out forwards;

    @keyframes moveFromLeft {
        0% {
            transform: translateX(-200%);
        }

        100% {
            transform: translateX(0px);
        }
    }
}

.animarEntrar-D-E {
    animation: moveFromRight 400ms ease-in-out forwards;

    @keyframes moveFromRight {
        0% {
            transform: translateX(200%);
        }

        100% {
            transform: translateX(0px);
        }
    }
}

.animarSair-E {
    animation: exitToLeft 400ms ease-in-out forwards;

    @keyframes exitToLeft {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-200%);
        }
    }
}

.animarSair-D {
    animation: exitToRight 400ms ease-in-out forwards;

    @keyframes exitToRight {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(200%);
        }
    }
}

.imgContainer {
    position: fixed;
    width: calc((100% - $containerWidth) / 2);
    display: flex;
    justify-content: center;

    img {
        width: 3rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.reverse {
    transform: scaleX(-1);
}

.containerMensagem {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    .mensagemDelete {
        width: 30rem;
        height: 10rem;
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Lexend', sans-serif;
        background-color: #1E1F22;
        border-radius: 15px;
        color: white;
        padding: 1rem;
    }

    .texto {
        width: 100%;
        height: 10rem;
        font-size: 1.5em;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .botoes {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            width: 25%;
            border-radius: 8px;
            padding: 0.25rem;
            border: 0;

            &:hover {
                cursor: pointer;
            }
        }

        .cancelar {
            background-color: transparent;
            border: 1px solid #D6D6D6;
            color: #D9D9D9;
        }

        .confirmar {
            background-color: #D6D6D6;
        }
    }
}