<header class="header">
    <div>
        <div class="headerText">Total de gastos</div>
        <div class="headerText">R$ {{totalGastos}}</div>
    </div>
    <div>
        <div class="headerText">Total de Ganhos</div>
        <div class="headerText">R$ {{totalEntradas}}</div>
    </div>
    <div>
        <div class="headerText">Restante</div>
        <div class="headerText">R$ {{restante}}</div>
    </div>
</header>

<div class="grupoTiles" *ngFor="let item of bancos">
    <a class="tiles" [ngStyle]="{backgroundColor: item.cor}" [href]="item.id !== 0 ? '/categorias/' + item.id : ''">
        <div>Total Geral {{item.nome}}</div>
        <div>R${{item.totais.geral}}</div>
    </a>
    <a class="tiles" [ngStyle]="{backgroundColor: item.cor}" [href]="item.id !== 0 ? '/categorias/' + item.id : ''">
        <div>Total Transportes {{item.nome}}</div>
        <div>R${{item.totais.transportes}}</div>
    </a>
    <a class="tiles" [ngStyle]="{backgroundColor: item.cor}" [href]="item.id !== 0 ? '/categorias/' + item.id : ''">
        <div>Total Alimentação {{item.nome}}</div>
        <div>R${{item.totais.alimentacao}}</div>
    </a>
</div>

<footer>
    <img src="../../assets/add.png" title="Adicionar" alt="Adicionar" (click)="abrirAdicionar()">
    <a href="configuracoes">
        <img src="../../assets/gear.png" title="Configurações" alt="Configurações">
    </a>
</footer>

<app-adicionar [dialogOpen]="this.dialogOpen" (dialogOpenChange)="this.dialogOpen=$event"></app-adicionar>