<div class="container">
    <a href="configuracoes">
        <img class="config" src="../../assets/gear.png" title="Configurações" alt="Configurações">
    </a>

    <div class="totais">
        <div style="background-color: #1E1F22">
            <div class="title">Total de gastos</div>
            <div class="body" [title]="'Total de gastos com inativos = R$' + totalGastosInativos">R$ {{totalGastos}}
            </div>
        </div>
        <div style="background-color: #554C55">
            <div class="title">Total de ganhos</div>
            <div class="body">R$ {{totalEntradas}}</div>
        </div>
        <div style="background-color: #315663">
            <div class="title" style="color: #D2D2D2;">Restante</div>
            <div class="body">R$ {{restante}}</div>
        </div>
        <div style="background-color: #202533">
            <div class="title" style="color: #D2D2D2;">Restante com inativos</div>
            <div class="body">R$ {{restanteInativos}}</div>
        </div>
        <a style="background-color: #463956" href="/pessoais/3/1">
            <div class="title" style="color: #D2D2D2; text-align: center;">Luana</div>
            <div class="body">R$ {{restanteLuana}}</div>
        </a>
        <a style="background-color: #6d5f66" href="/pessoais/1/1">
            <div class="title" style="color: #D2D2D2; text-align: center;">Geral</div>
            <div class="body">R$ {{restanteGeral}}</div>
        </a>
        <a style="background-color: #3e697d" href="/pessoais/2/1">
            <div class="title" style="color: #D2D2D2; text-align: center;">Tiago</div>
            <div class="body">R$ {{restanteTiago}}</div>
        </a>
    </div>

    <div class="data">
        <div class="mes-ano">{{mesAtual}}, {{anoAtual}}</div>
        <div *ngIf="validarMes()" class="dia">dia {{diaAtual}}</div>
    </div>

    <div class="grupoTiles" *ngFor="let item of tiles">
        <a class="tiles" [href]="'/categorias/' + item.id + '/1'">
            <div class="iconeBanco" (click)="editarBanco($event, item)" title="Editar Banco">
                <img
                    [src]="item.icone ? '../../assets/iconesBancos/' + item.icone : '../../assets/iconesBancos/padrao.svg'">
                {{item.nome}}
            </div>
            <div class="title">Compras em geral</div>
            <div class="total">R${{item.totais.geral}}</div>
        </a>
        <a class="tiles" [href]="'/categorias/' + item.id + '/2'">
            <div class="title">Transportes</div>
            <div class="total">R${{item.totais.transportes}}</div>
        </a>
        <a class="tiles" [href]="'/categorias/' + item.id + '/3'">
            <div class="title">Alimentação</div>
            <div class="total">R${{item.totais.alimentacao}}</div>
        </a>
        <div class="tiles">
            <div class="title">Total de gastos</div>
            <div class="total">R${{item.total}}</div>
        </div>
        <div class="tiles">
            <div class="title">Total com Inativos</div>
            <div class="total">R${{item.totalInativos}}</div>
        </div>
    </div>

    <div class="adicionarBanco" (click)="abrirAdicionarBanco()">
        <img src="../../assets/add.png" title="Adicionar">
        Adicionar um banco
    </div>

    <img class="add" src="../../assets/add.png" title="Adicionar" alt="Adicionar" (click)="abrirAdicionar()">

    <app-adicionar [dialogOpen]="dialogGasto" (dialogOpenChange)="dialogGasto=$event"></app-adicionar>

    <app-adicionar-banco [dialogOpen]="dialogBanco" (dialogOpenChange)="dialogBanco=$event"></app-adicionar-banco>

    <app-editar-banco [dialogOpen]="dialogEditarBanco" [formulario]="bancoSelecionado"
        (dialogOpenChange)="dialogEditarBanco=$event" (formularioChange)="bancoSelecionado = $event"></app-editar-banco>
</div>